useDynLib(MRTransmissionModel, .registration = TRUE)

S3method(plot,sim.results.SIR)
S3method(plot,sim.results.MSIRV)
S3method(plot,sim.results.MSIRV.space)
export(EX.Country.part1)
export(EX.Country.part1.setSUS)
export(EX.Country.part2)
export(ExtractAgeSpecificSurvivalMatrix)
export(Get.CountryX.Starting.Pop.MSIRV)
export(GetNumber.per.AgeGroup)
export(GetNumber.per.AgeYear)
export(GetPop.per.Year)
export(GetRubellaCases.per.Year)
export(GetRubellaSeroprevalence.per.Year)
export(GetSumInYear)
export(SIRIDTran)
export(Space.Get.CountryX.Starting.Pop.MSIRV)
export(Spatial.EX.Country.part1)
export(Spatial.EX.Country.part2)
export(convertAgeSIA)
export(create.ID.state.matrix)
export(create.ID.transition.MSIRV)
export(create.ID.transition.MSIRV.SIA)
export(create.ID.transition.SIR)
export(create.ID.transition.SIR.vac)
export(create.ID.transition.SIR.vac.SIA)
export(create.country.x.DFE.ID.state.matrix)
export(create.surv.prob.over.age)
export(create.surv.prob.over.age.time)
export(fit.vsucc.Logistic)
export(get.MR1cdf.survival)
export(get.births.fun)
export(get.boulianne.vsucc)
export(get.diagonal.WAIFW)
export(get.flat.WAIFW)
export(get.gans.vsucc)
export(get.polymod.WAIFW)
export(get.prem.WAIFW)
export(get.routine.time.age.specific)
export(get.seasonal.mult)
export(get.sia.time.age.specific)
export(get.smooth.WAIFW)
export(get.vcdf.normal)
export(get.vcdf.uniform)
export(get.vynnycky.WAIFW)
export(getAverageInfectionAge)
export(getCRScases.byage.per.stochastic.rate)
export(getCompartmentTotals)
export(getCumRiskTrimester)
export(getDemography.wpp2017)
export(getDemography.wpp2019)
export(getDemography.wpp2022)
export(getOutput_201910gavi_v4)
export(getWHO.measles.SIAs)
export(getWHO.measles.SIAs.Nov2023)
export(getWHO.rubella.SIAs)
export(getWHO.rubella.SIAs.Nov2023)
export(next.ID.state)
export(pmaternal)
export(pvacsuccess)
export(run)
export(scaleWAIFW)
export(scaleWAIFW.space)
export(setupCountry.Dec2021)
export(setupCountry.Nov2023)
export(space.create.ID.state.matrix)
export(space.create.ID.transition.MSIRV)
export(space.create.country.x.DFE.ID.state.matrix)
export(space.getDemography)
export(space.wrapper.GetNumber.per.AgeGroup)
export(space.wrapper.get.routine.time.age.specific)
export(space.wrapper.get.sia.time.age.specific)
export(space.wrapper.surv.prob.over.age)
export(space.wrapper.surv.prob.over.age.time)
export(toProportions)
exportClasses(ID.transition.MSIRV)
exportClasses(ID.transition.MSIRV.SIA)
exportClasses(ID.transition.MSIRV.space)
exportClasses(ID.transition.SIR)
exportClasses(ID.transition.SIR.vac)
exportClasses(ID.transition.SIR.vac.SIA)
exportClasses(cov.estimates)
exportClasses(experiment)
exportClasses(experiment.SIAtrigger)
exportClasses(experiment.result)
exportClasses(experiment.updatedemog)
exportClasses(experiment.updatedemog.spatial)
exportClasses(experiment.updatedemog.vaccinationchange)
exportClasses(experiment.updatedemog.vaccinationchange.spatial)
exportClasses(experiment.updatedemog.vaccinationchange.vaccinationlimitations)
exportClasses(experiment.updatedemog.vaccinationchange.vaccinationlimitations.spatial)
exportClasses(maternal.exp.decay)
exportClasses(maternal.thresh)
exportClasses(nMx)
exportClasses(prob.vsucc.byage)
exportClasses(seasonal.age.specific)
exportClasses(seasonal.age.specific.piecewise.constant)
exportClasses(seasonal.cosine)
exportClasses(seasonal.force)
exportClasses(seasonal.periodic.bspline)
exportClasses(seasonal.piecewise.constant)
exportClasses(sim.results.MSIRV)
exportClasses(sim.results.MSIRV.space)
exportClasses(sim.results.MSIRV.update.demog)
exportClasses(sim.results.MSIRV.update.demog.space)
exportClasses(sim.results.MSIRV.update.demog.vaccine.change)
exportClasses(sim.results.MSIRV.update.demog.vaccine.change.space)
exportClasses(sim.results.SIR)
exportClasses(space.nMx)
exportClasses(vacc.per.time.step.by.age)
exportClasses(vaccine.cdf.byage)
exportClasses(vsucc)
exportClasses(vsucc.Logistic)
exportClasses(vsucc.constant)
import(countrycode)
import(dplyr)
import(survival)
import(tibble)
import(tidyr)
import(wpp2017)
import(wpp2019)
import(wpp2022)
importFrom(KernSmooth,bkde2D)
importFrom(grDevices,col2rgb)
importFrom(grDevices,rgb)
importFrom(graphics,lines)
importFrom(graphics,mtext)
importFrom(graphics,par)
importFrom(methods,is)
importFrom(methods,new)
importFrom(readxl,read_excel)
importFrom(readxl,read_xlsx)
importFrom(stats,binomial)
importFrom(stats,glm)
importFrom(stats,plogis)
importFrom(stats,pnorm)
importFrom(stats,predict)
importFrom(stats,rmultinom)
importFrom(stats,rpois)
importFrom(stats,smooth.spline)
importFrom(utils,data)
importFrom(utils,read.csv)
importFrom(zoo,na.spline)
